/* #region common */

*{
    
}


:root{
    --bootstrap-background-primary: #1bbc9b;
    --bootstrap-dark: #3a546d;
    --bootstrap-darker: #2d3e50;
    --bootstrap-col-house: #bb4b63;
    --bootstrap-col-cake: #1fa4b7;
    --bootstrap-col-circus: black;
    --bootstrap-col-gamepad: #1b83c0;
    --bootstrap-col-vault: #0f38b6;
    --bootstrap-col-submarine: #ccb2a3;
    --bootstrap-lightest: white;
}

.fa-star{
    font-size: 1.8rem;
}
/* #endregion common */

/* #region header */

#site_header{
    background-color: var(--bootstrap-darker);

    .container{
        justify-content: space-between;
        color: var(--bootstrap-lightest);
    }

    .navbar{
        background-color: transparent;
    }

    .navbar-brand, .nav-link{
        color: var(--bootstrap-lightest);
    }
}
/* #endregion header */

/* #region main */

/* #region jumbotron */

.jumbotron{
    background-color: var(--bootstrap-background-primary);
    color: var(--bootstrap-lightest);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

    .d-flex{
        align-items: center;
        max-height: 1rem;
        column-gap: 2rem;
    }


    & span, .fa-star{
        font-size: 1.8rem;
    }
    
}
/* #endregion jumbotron */

/* #region portfolio */
#portfolio {
    background-color: var(--bootstrap-lightest);
    padding: 1rem 0;
    text-align: center;

    h2{
        font-size: 2.5rem;
    }
}

#portfolio .row{

    .card:nth-child(1){
        background-color: var(--bootstrap-col-house);
    }
    .card:nth-child(2){
        background-color: var(--bootstrap-col-cake);
    }
    .card:nth-child(3){
        background-color: var(--bootstrap-col-circus);
    }
    .card:nth-child(4){
        background-color: var(--bootstrap-col-gamepad);
    }
    .card:nth-child(5){
        background-color: var(--bootstrap-col-vault);
    }
    .card:nth-child(6){
        background-color: var(--bootstrap-col-submarine);
    }
} 
/* #endregion portfolio */


/* #region about */
.about{
    background-color: var(--bootstrap-background-primary);
    color: var(--bootstrap-lightest);
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    
    *:not(button){
        width: 50%;
        margin: auto;
    }

    div{
        max-width: 80%;
        margin: auto;
    }

    h2, .fa-star{
        text-align: center;
    }

    .d-flex{
        justify-content: center;
    }

    > div:last-child{
        flex-direction: row;
    }
}


/* #endregion about */

.contact{
    background-color: var(--bootstrap-lightest);
    flex-direction: column;
    margin: auto;


    h2, .fa-star{
        text-align: center;
    }

    .form-control{
        border-style: none;
        border-bottom: 0.1px solid;
        border-radius: 0;
    }
}

/* #endregion main */

#site_footer{
    background-color: var(--bootstrap-dark);
    color: var(--bootstrap-lightest);

    .col-12 > .d-flex{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .fa-brands{
        border: 0.5px solid white;
        border-radius: 50%;
        padding: 0.5rem;
    }

    .icon{
        column-gap: 0.5rem;

        .fa-facebook-f, .fa-linkedin{
            padding: 0.5rem 0.7rem;
        }
    }

    a{
        text-decoration: none;
        color: var(--bootstrap-background-primary);
    }

    .copyright{
        height: 100px;
        background-color: var(--bootstrap-darker);
        justify-content: center;
        align-items: center;
    }

}